* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(250, 250 , 250);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.instagram-phone {
  width: 45%;
  height: 80%;
  margin-right: 40px;
  background-image: url(../images/insta-background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  transition: 3s;
  border-radius: 8px;
}

.instagram-continue {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  max-height: 100vh;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 1.5rem 0;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.group:nth-child(1) {
  min-height: 19rem;
}

.instagram-logo {
  height: 3rem;
}

.profile-photo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo img{
    width: 6rem;
}

.group + .group {
  margin-top: 20px;
}

.instagram-login {
  margin-top: 15px;
  background-color: #0095f6;
  color: white;
  padding: 9px;
  border-radius: 25px;
  width: 70%;
  text-align: center;
}

.instagram-logout {
  color: #0095f6;
  margin-top: 1rem;
  width: 70%;
  text-align: center;
  border: 1px solid #0095f6 ;
  border-radius: 25px;
  padding: 8px;
}

.not-account {
  color: rgb(160, 160, 160);
}

.link-blue {
  color: #0095f6;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-download:nth-child(1) {
  background-image: url("../images/apple-button.png");
  background-size: 100% 100%;
}

.app-download:nth-child(2) {
  background-image: url("../images/google-play-badge.png");
  background-size: 100% 100%;
}

@media (max-width: 1200px) {
  .instagram-wrapper {
    width: 90%;
  }

}

@media (max-width: 720px) {
  body {
    background-color: white;
  }
  .instagram-wrapper {
    width: 90%;
  }

  .instagram-phone {
    display: none;
    
  }

  .instagram-continue {
    width: 100%;
  }
  .app-download + .app-download {
    margin-left: 0.5rem;
  }

}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
